/**
 * 黑色透明背景
 * $opacity: 透明度
 */
@mixin bg-translucent-dark($opacity) {
  background: rgba(0, 0, 0, $opacity)
}

/**
 * 白色透明背景
 * $opacity: 透明度
 */
@mixin bg-translucent-white($opacity) {
  background: rgba(255, 255, 255, $opacity);
}

/**
 * input placeholder style
 * $color: 文字颜色
 * $opacity: 透明度
 */
@mixin placeholderStyle($color, $opacity) {
  &::-webkit-input-placeholder {
    color: $color;
    opacity: $opacity;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: $color;
    opacity: $opacity;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $color;
    opacity: $opacity;
  }
  &:-ms-input-placeholder {
    color: $color;
    opacity: $opacity;
  }
}

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}