@import "../sass/mixin";
@import "../sass/variable";
@import "../sass/form_validator";

$mainBgUrl: $assets-root + $images-root + 'sky-bg.jpg';

.auth-main {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  background: url($mainBgUrl) no-repeat center center;;
}

.auth-block {
  width: 600px;
  margin: 0 auto;
  @include bg-translucent-dark(0.55);
  border-radius: 5px;
  color: #ffffff;
  padding: 32px;
  h1 {
    font-weight: 300;
    margin-bottom: 28px;
    text-align: center;
  }

  .control-label {
    padding-top: 8px;
  }

  .form-group {
    margin-bottom: 12px;
  }

  .form-control {
    color: #ffffff;
    font-size: 0.95rem;
    @include placeholderStyle(#ffffff, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    @include bg-translucent-white(0.1);
    &:focus {
      border-color: tint($primary, 20%);
    }
  }

  .btn-auth {
    color: #ffffff !important;
    border: 1px solid rgba(255, 255, 255, 0.6);
    @include bg-translucent-dark(0.2);
    &:hover {
      transform: scale(1.2);
    }
  }
}