<div fxLayout="row" fxLayoutAlign="center center" fxFill>
    <md-card fxFlex="33">
        <md-card-header fxLayoutAlign="center none">
            <md-card-title-group>
                <md-card-title>
                    <h1><md-icon><i class="fa fa-cogs"></i></md-icon> 系统初始化</h1>
                </md-card-title>
            </md-card-title-group>
        </md-card-header>
        <md-card-content>
            <form [formGroup]="initForm" novalidate (ngSubmit)="onSubmit(initForm.value)" fxLayout="column" fxLayoutGap="10px">
                <md-input-container>
                    <span mdPrefix><md-icon>settings_system_daydream</md-icon> &nbsp;</span>
                    <input mdInput formControlName="appName" placeholder="系统名称">
                    <md-error>{{ formErrors.appName }}</md-error>
                </md-input-container>
                <md-input-container>
                    <span mdPrefix><md-icon>account_box</md-icon> &nbsp;</span>
                    <input mdInput formControlName="adminName" placeholder="管理员账号">
                    <md-error>{{ formErrors.adminName }}</md-error>
                </md-input-container>
                <md-input-container>
                    <span mdPrefix><md-icon>lock</md-icon> &nbsp;</span>
                    <input mdInput formControlName="password" type="password" equalValidate="repeatPassword" reverse="true" placeholder="管理员密码">
                    <md-error>{{ formErrors.password }}</md-error>
                </md-input-container>
                <md-input-container>
                    <span mdPrefix><md-icon>lock_outline</md-icon> &nbsp;</span>
                    <input mdInput formControlName="repeatPassword" type="password" equalValidate="password" reverse="false" placeholder="确认密码">
                    <md-error>{{ formErrors.repeatPassword }}</md-error>
                </md-input-container>
                <md-input-container>
                    <span mdPrefix><md-icon>email</md-icon> &nbsp;</span>
                    <input mdInput formControlName="email" type="email" placeholder="电子邮箱">
                    <md-error>{{ formErrors.email }}</md-error>
                </md-input-container>
                <div>
                    <button [disabled]="initForm.invalid" md-raised-button type="submit">提 交</button>
                </div>
            </form>
        </md-card-content>
    </md-card>
</div>

