:host /deep/ {
    ng2-smart-table {
        th, td {
            border: 1px solid rgba(0, 0, 0, 0.2);
        }

        tbody {
            tr:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
}