.aside-menu-ul {
    list-style: none;
    padding-left: 0px;
}

.sidebar-hover-elem {
    width: 4px;
    background-color: bisque;
    position: absolute;
    top: -200px;
    right: 0px;
    transition: all 0.5s ease;
    transition-property: top, height;
    display: block;
}