<!--<aside class="al-sidebar">-->
    <!--<ul class="al-sidebar-list" (mouseleave)="hoverElemTop=outOfArea">-->
        <!--<admin-menu-item-->
            <!--*ngFor="let item of menuItems | async"-->
            <!--(itemHover)="hoverItem($event)"-->
            <!--[menuItem]="item">-->
        <!--</admin-menu-item>-->
    <!--</ul>-->
    <!--<div class="sidebar-hover-elem" [ngStyle]="{top: hoverElemTop + 'px', height: hoverElemHeight + 'px'}"></div>-->
<!--</aside>-->
<aside>
    <ul class="aside-menu-ul">
        <admin-menu-item
            *ngFor="let item of menuItems | async"
            [menuItem]="item">
        </admin-menu-item>
    </ul>
</aside>