md-toolbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

.logo {
    font: 500 20px/30px Roboto,"Helvetica Neue",sans-serif;
}

.search {
    font: 400 14px/16px Roboto,"Helvetica Neue",sans-serif;
}


.md-toolbar-space {
    /* This fills the remaining space, by using flexbox. Every toolbar row uses a flexbox row layout*/
    flex: 1 1 auto;
}