<div class="mat-elevation-z5">
  <md-toolbar>
    <button md-mini-fab routerLink="../add">
      <md-icon>add</md-icon>
    </button>
  </md-toolbar>
  <div mdSort mdSortActive="title" mdSortDisableClear mdSortDirection="asc"></div>
  <md-card class="mat-elevation-z0" fxLayout="row" fxLayoutGap="10px" fxLayoutWrap>
    <md-card fxFlex="0 0 calc(20% - 40px)" *ngFor="let goods of data | async" class="goods-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>{{goods.title}}</md-card-title>
        <md-card-subtitle>{{goods.price | currency:'CNY':true:'3.2-2'}}</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="favicon.ico">
      <md-card-content>
        <p>{{goods.des}}</p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </md-card>
  <md-paginator [length]="dataSource.resultsLength"
                [pageSize]="10"
                [pageSizeOptions]="[10, 15, 20]">
  </md-paginator>
</div>
