<form [formGroup]="editForm" novalidate (ngSubmit)="onSubmit(editForm.value)" fxLayout="column" fxLayoutGap="10px">
  <md-input-container>
    <span mdPrefix><md-icon>account_box</md-icon> &nbsp;</span>
    <input mdInput formControlName="usernameView">
  </md-input-container>
  <md-input-container>
    <span mdPrefix><md-icon>account_box</md-icon> &nbsp;</span>
    <input mdInput formControlName="nickname" placeholder="昵称">
    <md-error>{{ formErrors.nickname }}</md-error>
  </md-input-container>
  <md-input-container>
    <span mdPrefix><md-icon>lock</md-icon> &nbsp;</span>
    <input mdInput formControlName="password" type="password" equalValidate="repeatPassword" reverse="true"
           placeholder="密码">
    <md-error>{{ formErrors.password }}</md-error>
  </md-input-container>
  <md-radio-group formControlName="status">
    <md-radio-button [value]="true">启用</md-radio-button>
    <md-radio-button [value]="false">停用</md-radio-button>
  </md-radio-group>

  <md-error>{{errorMsg}}</md-error>
  <div>
    <button [disabled]="editForm.invalid" md-raised-button type="submit">提 交</button>
  </div>
</form>
