md-toolbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}

md-sidenav {
    padding-top: 64px;
    padding-left: 16px;
}

.sidenav-content {
    padding-top: 64px;
    padding-left: 16px;
}