<li>
    <a md-button *ngIf="menuItem.subMenu?.length; else linkItem" fxFlexFill (click)="toggleMenu()" (mouseenter)="onHoverItem($event)">
        <md-icon class="md-icon-18" *ngIf="menuItem.icon">{{menuItem.icon}}</md-icon>
        <span>{{menuItem.name}}</span>
        <md-icon [@rotateAnimation]="showMenu ? 'down': 'right'" class="rotate-icon">chevron_right</md-icon>
    </a>
    <ng-template #linkItem>
        <a md-button [routerLink]="menuItem.path" fxFlexFill class="linkItem" (mouseenter)="onHoverItem($event)" routerLinkActive="active">
            <span>{{menuItem.name}}</span>
        </a>
    </ng-template>
    <ul *ngIf="menuItem.subMenu?.length && showMenu" class="aside-subMenu-ul" @toggleAnimation>
        <admin-menu-item
                *ngFor="let item of menuItem.subMenu"
                [menuItem]="item"
                (itemHover)="onHoverItem($event)">
        </admin-menu-item>
    </ul>
</li>